@media (max-width: 479px)
{
    /*---------------
        Main styles
    ---------------*/
    .main_tabs
    {
        margin-left: 0;

        flex-wrap: wrap;
    }
    .main_tabs button
    {
        font-size: 14px;
        line-height: 17px;

        width: 100%;
        min-height: 40px;
        margin-left: 0;
    }

    .line_tabs
    {
        margin-bottom: 35px;
    }
    .line_tabs.line_tabs2 button
    {
        font-size: 14px;
        line-height: 14px;
    }


    .owl-carousel .owl-nav button
    {
        top: -27px;

        width: 9px;
        height: 15px;
    }
    .owl-carousel .owl-nav button.owl-prev:before,
    .owl-carousel .owl-nav button.owl-next:before
    {
        width: 11px;
        height: 11px;
    }
    .owl-carousel .owl-nav button.owl-prev:before
    {
        left: 50%;

        margin-left: -2px;

        border-top: 2px solid #e0e0e0;
        border-left: 2px solid #e0e0e0;
    }
    .owl-carousel .owl-nav button.owl-next:before
    {
        right: 50%;

        margin-right: -2px;

        border-right: 2px solid #e0e0e0;
        border-bottom: 2px solid #e0e0e0;
    }


    .head_inner + .section_main .content
    {
        margin-top: 0;
    }
    /*---------------
        Header
    ---------------*/
    header
    {
        padding: 20px 0;
    }
    header .logo_wrap
    {
        flex-direction: column;

        align-items: stretch;
        align-content: stretch;
    }
    header .logo
    {
        width: 132px;
    }
    header .logo_wrap .logo
    {
        margin-right: 0;
    }
    header .logo_wrap .logo_text
    {
        font-size: 13px;
        line-height: 13px;

        margin-top: 4px;
    }
    header .user_wrap .user .thumb
    {
        margin-right: 5px;
    }
    header .user_wrap .open_links_btn
    {
        display: block;
    }
    header .user_wrap .links
    {
        position: absolute;
        z-index: 999;
        top: 100%;
        right: 0;

        visibility: hidden;
        flex-direction: column;

        width: 110px;
        height: 100px;
        padding: 20px;

        transition: .2s linear;

        opacity: 0;
        border-radius: 0 0 5px 5px;
        background: #f8f8f8;
        box-shadow: 0 2px 30px rgba(0, 0, 0, .1);

        align-items: center;
        align-content: center;
        justify-content: center;
    }
    header .user_wrap .links.visible
    {
        visibility: visible;

        opacity: 1;
    }
    header .user_wrap .links .link
    {
    }
    header .user_wrap .links .link a .icon
    {
        width: 20px;
        height: 20px;
    }
    header .user_wrap .links .link + .link
    {
        margin-bottom: 18px;
        margin-left: 0;

        order: -1;
    }

    header .mob_search_btn
    {
        display: block;
    }

    .search_box.search_mob
    {
        display: block;
        visibility: hidden;

        opacity: 0;
    }
    .search_box.search_mob.visible
    {
        visibility: visible;

        opacity: 1;
    }

    /*---------------
        Main section
    ---------------*/

    .vendors_tree .item .head
    {
        height: 63px;
    }

    .content .search_box
    {
        display: none;
    }
    .content.mob_main
    {
        margin-top: 0;
    }

    .decisions_tree .carousel.owl-carousel
    {
        padding: 0;
    }
    .decisions_tree .item .body .label_radio .radio_text
    {
        padding-right: 20px;
        padding-left: 73px;
    }
    .decisions_tree .item .body .label_radio .radio_text:before
    {
        left: 11px;
    }

    .responsible_tree .item .body .label_radio .radio_text
    {
        padding-right: 20px;
    }

    .responsible_tree .carousel
    {
        padding: 0;
    }

    .vendors_tree .carousel.owl-carousel .owl-nav button
    {
        top: -27px;
    }
    .vendors_tree .item .head
    {
        height: 43px;
        padding: 8px 35px;
    }
    .vendors_tree .item .body .label_radio .radio_text .title
    {
        font-size: 12px;
        line-height: 15px;

        margin-bottom: 4px;
    }
    .vendors_tree .item .body .label_radio .radio_text .name
    {
        font-size: 12px;
        line-height: 15px;
    }


    .decisions_description
    {
        padding: 50px 14px;
    }

    .decisions_description .title
    {
        font-size: 22px;
        line-height: 26px;
    }

    .decisions_description .vendors .grid
    {
        flex-direction: column;

        margin-bottom: -35px;

        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;
    }

    .decisions_description .vendors .grid .item
    {
        max-width: 206px;
        margin-bottom: 35px;
    }

    .decisions_description .vendors .grid .item:nth-child(1)
    {
        max-width: 192px;
    }

    .decisions_description .vendors .grid .item:nth-child(2)
    {
        max-width: 150px;
    }


    .news .items .item
    {
        width: 100%;
    }


    .employee_tasks .info
    {
        display: flex;

        width: calc(100% +  15px);

        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: nowrap;
    }

    .employee_tasks .info:after
    {
        display: block;

        width: 15px;
        height: 1px;

        content: '';

        flex-shrink: 0;
    }

    .employee_tasks .title
    {
        padding-left: 0;
    }

    .carousel_info .carousel
    {
        max-width: none;
        padding: 0;
    }

    .carousel_infoBig .carousel.full
    {
        padding: 0;
    }


    .info_responsible
    {
        display: block;
    }

    .info_responsible span
    {
        display: block;

        margin-left: 0;
    }

    .refers_direction
    {
        display: block;
    }

    .refers_direction span
    {
        display: block;

        margin-left: 0;
    }

    .filter .foot
    {
        display: none;
    }
    .filter .head
    {
        font-size: 16px;
        line-height: 16px;

        position: relative;

        width: 100%;
        padding: 12px 20px;
        padding-right: 40px;

        cursor: pointer;
        text-align: left;

        border-radius: 5px;
        background: #fcfcfc;
    }
    .filter.active .head
    {
        border-radius: 5px 5px 0 0;
    }
    .filter .head:after
    {
        position: absolute;
        top: 50%;
        right: 20px;

        width: 7px;
        height: 7px;
        margin-top: -4px;

        content: '';
        transition: .2s linear;
        transform: rotate(45deg);

        border-right: 1px solid #c61143;
        border-bottom: 1px solid #c61143;
    }
    .filter.active .head:after
    {
        margin-top: -1px;

        transform: rotate(-135deg);
    }
    .filter .body
    {
        display: none;
    }
    .filter .body .box .checkbox.choice_js
    {
        margin-bottom: 14px;
    }

    .result_page .breadcrumbs
    {
        margin: 35px 0;
    }

    .result .items
    {
        margin-top: 25px;
    }
    .result .items .item
    {
        padding: 19px 18px;
    }
    .result .items .item .top .title
    {
        display: none;
    }
    .result .items .item .top .item_category
    {
        margin-top: 0;
        margin-left: auto;
    }
    .result .items .item .info
    {
        margin-top: 18px;
    }
    .result .items .item .info .thumb_wrap
    {
        width: 97px;
    }
    .result .items .item .info .title
    {
        display: block;

        width: calc(100% - 110px);

        align-self: center;
    }
    .result .items .item .info .text
    {
        width: 100%;
        margin-top: 20px;
    }
    .result .items .item .bottom
    {
        display: block;
    }
    .result .items .item .bottom .tags_wrap
    {
        display: flex;

        width: 100%;
        margin-right: 0;

        justify-content: flex-end;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    .result .items .item .bottom .name
    {
        margin-top: 2px;
        margin-bottom: 0;
    }
    .result .items .item .bottom .tags_wrap .tags
    {
        margin-left: 4px;
    }
    .result .items .item .bottom .responsible
    {
        display: flex;

        width: 100%;
        margin-top: 10px;

        justify-content: flex-end;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    .result .items .item .bottom .responsible .name
    {
        margin-right: 0;
    }
    .result .items .item .bottom .responsible span
    {
        margin-left: 15px;
    }
    .result .items .item .bottom.min_marg
    {
        margin-top: 31px;
    }


    .vendor .vendor_box
    {
        padding: 29px 16px;
    }
    /*---------------
        Footer
    ---------------*/
}
